:root {
  /*PRIMARY COLORS*/
  --moderate-violet: hsl(263, 55%, 52%);
  --dark-graysh: hsl(217, 19%, 35%);
  --dark-blackish: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  /*NEUTRAL COLORS*/
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish: hsl(210, 46%, 95%);
}
