main {
  height: 100vh;
  background: var(--light-grayish);
  display: grid;
  justify-content: center;
  align-content: center;
}

#grid-container {
  display: grid;
  grid-template-columns: 230px 280px 250px 250px;
  gap: 30px;
  max-width: 1440px;
}

section {
  padding: 30px;
  border-radius: 10px;
  display: grid;
  gap: 17px;
  box-shadow: 2px 2px 2px var(--light-gray);
}

.profile {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
}

.profile-img {
  border-radius: 50%;
  max-width: 30px;
  max-height: 30px;
  border: 2px solid var(--light-gray);
}

.profile-img img {
  border-radius: 50%;
  height: 100%;
}

.name {
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.4;
}

.name::after {
  content: "verified graduate";
  text-transform: capitalize;
  display: block;
  font-size: 0.88rem;
  color: var(--light-gray);
  opacity: 50%;
}

.testimonial {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
}

.testimonial- {
  color: var(--light-gray);
  opacity: 70%;
  line-height: 1.4;
}

#grid-section1 {
  grid-column: 1 / 3;
  background: var(--moderate-violet);
  position: relative;
  z-index: 2;
}

#grid-section1::after {
  content: "";
  position: absolute;
  background: url(../images/bg-pattern-quotation.svg) no-repeat center;
  width: 104px;
  height: 120px;
  z-index: 0;
  right: 90px;
}

#grid-section1 .testimonial {
  position: relative;
  z-index: 2;
}

#grid-section2 {
  background: var(--dark-graysh);
}

#grid-section3 {
  grid-column: 4;
  grid-row: 1 / 3;
  background: var(--white);
}

#grid-section3 h3,
#grid-section3 .testimonial,
#grid-section4 h3,
#grid-section4 .testimonial {
  color: var(--dark-graysh);
}

#grid-section3 h3::after,
#grid-section3 .testimonial-,
#grid-section4 h3::after,
#grid-section4 .testimonial- {
  color: var(--dark-graysh);
  opacity: 0.7;
}

#grid-section4 {
  background: var(--white);
}
#grid-section5 {
  grid-column: 2 / 4;
  background: var(--dark-blackish);
}
